@import url('https://fonts.cdnfonts.com/css/nexa-bold');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nexa', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fe8c45;
}

p,
a,
li {
  font-family: "Quicksand", sans-serif;
}

/* hero section style  */
#hero-horizontal-line {
  font-size: 80px;
  margin-bottom: 44px;
}

#hero-horizontal-line::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 10px;
  background-color: #8a47f6;
  border-radius: 20px;
  margin-left: 150px;
  vertical-align: middle;
}

/* about section style  */
#about {
  background-color: #f3edfe;
  margin-bottom: 100px;
}

.horizontal-line {
  margin-bottom: 50px;
}

.horizontal-line::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: black;
  margin-right: 10px;
  vertical-align: middle;
}

/* portfolio section style  */
.navbar-custom {
  background-color: #ffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  align-content: center;
}

.nav-fill .nav-item {
  text-align: center;
}

.nav-link {
  color: black;
  font-weight: 500;
  padding: 10px 0;
}

.nav-link.active {
  color: #8a47f6 !important;
  text-decoration: underline;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 350px);
  gap: 10px;
  margin-right: 110px;
  margin-left: 110px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.span-rows-2 {
  grid-row: span 2;
}

.image-item {
  overflow: hidden;
}

/* button style section  */
#button {
  background-color: #fe8c45;
  color: white;
  text-decoration: none;
}

#button:hover {
  background-color: black;
  color: #fe8c45;
}

.btn:hover {
  background-color: black;
  color: white;
}

.client {
  background-color: #8a47f6;
}

/* instagram feed section style  */
.img-wide,
.img-small,
.img-tall {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.col-half {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-quarter {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Responsive styles for medium devices */
@media (max-width: 992px) {
  #hero-horizontal-line {
    font-size: 50px;
    margin-bottom: 44px;
  }

  #hero-horizontal-line::after {
    width: 200px;
    margin-left: 40px;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    margin-right: 50px;
    margin-left: 50px;
  }

}

/* Responsive styles for small devices */
@media (max-width: 768px) {
  .hero-horizontal-line::after {
    width: 150px;
    margin-left: 20px;
  }

  .image-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 250px);
    margin-right: 20px;
    margin-left: 20px;
  }

  .navbar-custom {
    padding: 5px;
  }

  .nav-link {
    padding: 5px 0;
    font-size: 14px;
  }

  .navbar-collapse {
    text-align: center; 
  }


  .navbar-nav .nav-item {
    margin: 10px 0; 
  }


  .col-half,
  .col-quarter {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #button {
    padding: 8px 20px;
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }


  /* responsive  for very small devices */
  @media (max-width: 576px) {
    .hero-horizontal-line::after {
      width: 100px;
      margin-left: 10px;
    }

    .image-grid {
      grid-template-rows: repeat(10, 200px);
    }

    .navbar-custom {
      padding: 3px;
    }

    .nav-link {
      font-size: 12px;
    }

    #button {
      padding: 6px 15px;
      font-size: 12px;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }

  }

}